body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  padding: 0 45px;
  background-color: #283593;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav a {
  color: #fff;
  text-decoration: none;
  display:block;
  transition: all 0.3s ease-out;
}
.nav a:hover {
    color:#c5cae9;
    transform:rotate(6deg);
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.nav li {
    margin: 20px;
}

.mid {
  background-color: #c5cae9;
  padding: 60px 45px;
  display:flex;
  justify-content:center;
 }
 .mid p{
  font-size:1.18;
  line-height:1.6;
 }
.mid-inner{
   max-width:760px;
   
}

.mid h1{
font-weight: normal;
font-size:3rem;
margin:0;

}

.button{
  background-color: #3949ab;
  color:#fff;
  text-decoration:none;
  padding:12px 20px;
  border-radius:8px;
  font-size: 1.18rem;
  display:inline-block;

}
.features{
    background-color:#e8eaf6;
    padding:60px 45px;
}
.features-inner{
  max-width:760px;
  margin:0 auto;
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
  gap:45px;
}
.featured-items h1 {
    font-weight:normal;
    font-size:3rem;
    margin:0;
}

.features.inner {
  max-width: 1200px;
  margin:0 auto;
}
.featured-item h3{
  color: #283593;
  font-size:1.5rem;
  font-weight: normal;
  margin:0;

}
.featured-item p{
  margin:0;
  line-height:1.6;
  color:#333
}
.footer{
  text-align:center;
  padding:20px 0;
  color:#999;
  font-size:.9rem;
}